<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- HTML Meta Tags -->
    <title>PSNChecker.com - #1 PSN Checker Online</title>
    <meta name="description"
        content="The only working PSN Checker on the market. We check usernames in real time, and provide you with the answer of Available or Taken!">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="PSNChecker.com - #1 PSN Checker Online">
    <meta itemprop="description"
        content="The only working PSN Checker on the market. We check usernames in real time, and provide you with the answer of Available or Taken!">
    <meta itemprop="image" content="https://media.giphy.com/media/TdA0Dbmqb3HVYwVIBZ/giphy.gif">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://psnchecker.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="PSNChecker.com - #1 PSN Checker Online">
    <meta property="og:description"
        content="The only working PSN Checker on the market. We check usernames in real time, and provide you with the answer of Available or Taken!">
    <meta property="og:image" content="https://media.giphy.com/media/TdA0Dbmqb3HVYwVIBZ/giphy.gif">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="PSNChecker.com - #1 PSN Checker Online">
    <meta name="twitter:description"
        content="The only working PSN Checker on the market. We check usernames in real time, and provide you with the answer of Available or Taken!">
    <meta name="twitter:image" content="https://media.giphy.com/media/TdA0Dbmqb3HVYwVIBZ/giphy.gif">

    <link rel="shortcut icon" type="image/x-icon" href="https://media.giphy.com/media/TdA0Dbmqb3HVYwVIBZ/giphy.gif">
    <meta name="author" content="Mr. Cerberus, Thunder, SamModzHD & Cocaine">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_GB">

    <script data-cookie-notice='{ "learnMoreLinkEnabled": false, "cookieNoticePosition": "bottom", "expiresIn": 5}'
        src="https://unpkg.com/cookie-notice@^1/dist/cookie.notice.min.js"></script>
    <meta name="keywords" content="ps4,ps3,checker,psn checker,username checker,psnchecker">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <link href="/css/custom.css" rel="stylesheet">

    <style>
        #site {
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#noJS").hide();
            $("#site").show();
        });
    </script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NH5CFD2');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NH5CFD2" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="noJS">
        <div class="panel panel-default">
            <div class="panel-body">
                <center>Please Enable Javascript</center>
            </div>
        </div>
    </div>
    <div id="site">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><i class="fab fa-playstation"></i> <b>PSN Checker</b></a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/"> <i class="fas fa-home"></i> Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://twitter.com/PSNChecker"><i class="fab fa-twitter"></i> Our Twitter</a></li>
                    <li><a href="/invitebot"><i class="fab fa-discord"></i> Invite Our Bot</a></li>
                    <li><a href="/discord"><i class="fas fa-ticket-alt"></i> Our Discord</a></li>
                    <li><a href="/donate"> <i class="fas fa-donate"></i> Feel Free To Donate</a></li>
                </ul>
            </div>
        </nav>

        <div class="container" style="padding-top:1px">
                       
		<center>
            <div class="alert alert-danger text-center" style="margin-bottom: 20px;background: #e03232; color: #ffffff !important;">
			<font size="4.5px"><b>Coronavirus (COVID-19)</font>
			<br>
		  <span class="closebtn"></span>
		  <small style=" color: #ffffff !important;">We're are all currently suffering from COVID-19<br>We hope everyone is doing their best to <b>Stay Home and Stay Safe</b> <br> - PSNChecker Team. </small>
		</div>
    </center>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center">
                            Advertisements
                        </div>

                        <div class="panel-body">
                            <div class="col-lg-6">
                                <a href="<%=advertLinkOne%>"><img src="<%=advertImgONE%>" width="100%" height="80"></a>
                            </div>
                            <div class="col-lg-6">
                                <a href="<%=advertLinkTwo%>"><img src="<%=advertImgTWO%>" width="100%" height="80"></a>
                            </div>
                        </div>
                        <center> <small>Wish To Advertise Your Business? Join Our Discord And Talk To Us <a
                                    href="/discord">Here</a></small></center>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="stats-panel panel-primary">
                        <div class="panel-heading text-center">
                            People Behind This Project
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div id="developers">
                                <center>
                                    <small>
                                    <div class="col-sm-12">
                                        <i class="fab fa-twitter"></i> <a href="https://twitter.com/APIDepartment">♡ The Joker ♡</a> Developer
                                    </div>
                                    </small>
                                </center>
                                <center>
                                    <small>
                                        <div class="col-sm-12">
                                        <i class="fab fa-twitter"></i> <a href="https://twitter.com/PSNChecker">Thunder</a> Hosting
                                    </div>
                                    </small>
                                </center>
                                <center>
                                    <small>
                                        <div class="col-sm-12">
                                        <i class="fab fa-twitter"></i> <a href="https://twitter.com/SamModzHD">SamModzHD</a> Support
                                    </div>
                                    </small>
                                </center>
                                <center>
                                    <small>
                                        <div class="col-sm-12">
                                    <i class="fab fa-twitter"></i> <a href="https://twitter.com/Tusticles">Tustin</a> API Finder
                                </div>
                                    </small>
                                 </center><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="results">
                    <div class="col-sm-3">
                        <div class="stats-panel panel-primary">
                            <div class="panel-heading text-center">PSN Checker Statistics</div>
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <center>
                                    <small>
                                        <div id="numberofvisitors">
                                            <i class="fas fa-globe-europe"></i> Total Visitors: <img src="https://hitwebcounter.com/counter/counter.php?page=7226494&style=0007&nbdigits=5&type=ip&initCount=0" title="User Stats" Alt="PHP Hits Count"   border="0" ></div>
                                        </div>
                                    </small>
                                    </center>
                                    <center><small>
                                        <div class="col-sm-12">
                                            <div id="totalchecked"><i class="fas fa-check"></i> Total PSN's Checked: <%= totalChecked.toLocaleString() %></div>
                                        </div>
                                    </small></center>
                                    <center><small>
                                        <div class="col-sm-12">
                                            <div id="checkAvailable"><i class="fas fa-user-check"></i> <code style="background-color: #222;"><b><font color="GREEN">Available</font></b></code> PSN's Checked: <%= tavailable.toLocaleString() %></div>
                                        </div>
                                    </small></center>
                                    <center><small>
                                        <div class="col-sm-12">
                                            <div id="checkTaken"><i class="fas fa-user-times"></i> <code style="background-color: #222;"><b><font color="RED">Taken</font></b></code> PSN's Checked: <%= ttaken.toLocaleString() %></div>
                                        </div>
                                    </small></center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                    <div class="stats-panel panel-primary">
                        <div class="panel-heading text-center">In Development</div><br>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div id="developers">
                                    <center><small>
                                        <div class="col-sm-12">
                                            <div id="checkTaken"><i class="fas fa-user-times"></i> Sony <code style="background-color: #222;"><b><font color="RED">Taken</font></b></code></div>
                                        </div>
                                    </small></center><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
      
                <div class="c" autofocus="">

                    <b>What Is The Purpose Of PSNChecker?</b>
                    <br>
                    This is the <u>ONLY</u> working PSN Checker on the <b>INTERNET</b>.
                    <br>Simply submit a chosen PSN you wish to check, then it will give you the answer of either <code
                        style="background-color: #222;"><b><font color="GREEN">Available</font></b></code> or <code
                        style="background-color: #222;"><b><font color="RED">Taken</font></b></code>.
                    <br><br>
                    <b>Do you have an API?</b>
                    <br>Yes, we do you can access it by going <a href="/api/checkpsn/">here</a>
                    <br>EG: //psnchecker.com/api/checkpsn/YourChosenPSNHere
                    <br><br>
                    <b>How to use this?</b>
                    <br>Just submit a chosen PSN you wish to check, then we will give you the answer of either <code
                        style="background-color: #222;"><b><font color="GREEN">Available</font></b></code> or <code
                        style="background-color: #222;"><b><font color="RED">Taken</font></b></code>.
                    <br><br>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="psn" name="psn" action="/" method="POST">
                        <input type="hidden" name="_csrf" value="" />
                        <input type="hidden" name="_csrfToken" value="" />
                        <div id="result">
                            <center>
                                <% if (result==="AVAILABLE") { %>
                                <div class="alert alert-success" role="alert">
                                    <center><b><u>PSN Available</u><br> Congratulations the PSN <b><%= message %></b> is
                                            <code
                                                style="background-color: #222;"><b><font color="GREEN">available</font></b></code></b>.<br>Go
                                        Sign Up Here <a
                                            href="https://id.sonyentertainmentnetwork.com/create_account/#/create_account/wizard/entrance?entry=%2Fcreate_account">Playstation
                                            Network - Create Account</a></center>.
                                </div>
                                <% } else if (result==="TAKEN") { %>
                                <div class="alert alert-danger" role="alert">
                                    <center><b><u>PSN Taken</u></b><br>Sorry but the PSN <b><%= message %></b> is <code
                                            style="background-color: #222;"><b><font color="RED">taken</font></b></code>.
                                    </center>
                                </div>
                                <% } else if (result==="INTERNAL SERVER ERROR") { %>
                                <div class="alert alert-warning" role="alert">
                                    <center><b><u>Error 500 - Internal Server Error</u><br><%= message %></b></center>.
                                </div>
                                <% } else if (result==="SECURITY CHECK ERROR") { %>
                                <div class="alert alert-warning" role="alert">
                                    <center><b><u>SECURITY CHECK ERROR</u><br><%= message %></b></center>.
                                </div>
                                <% } else if (result==="PSN CONTAINS A NON-ALPHANUMERIC CHARACTER") { %>
                                <div class="alert alert-warning" role="alert">
                                    <center><b><u>Non-Alphanumerical Character Error</u><br><%= message %></b></center>
                                    .<br><b>The only available characters allowed are: <br><code
                                            style="background-color: #222;"><b><font color="GREEN">a-z, A-Z, 0-9 and - _</font></b></code><br>Example:
                                        G0D0fW4R-_</b>
                                </div>
                                <% } else if (result==="4 LETTERS DON'T EXIST") { %>
                                <div class="alert alert-warning" role="alert">
                                    <center><b><u>1-4 Letter Alphanumerical Character Error</u><br><%= message %></b>
                                    </center>.
                                </div>
                                <% } else if (result==="RATELIMITED") { %>
                                <div class="alert alert-warning" role="alert">
                                    <center><b><u>Ratelimited</u><br><%= message %></b></center>.
                                </div>
                                <% } else if(result==="CAPTCHA") {%>
                                <div class="alert alert-warning" role="alert">
                                    <center><b><u>Please Sign In</u><br><%= message %></b></center>.
                                </div>
                                <% } else if(result==="PROFANITY") {%>
                                <div class="alert alert-danger" role="alert">
                                    <center><b><u>Profanity Detection</u></b><br>Sorry but the PSN <code
                                            style="background-color: #222;"><b><font color="RED"><%=message%></font></b></code>
                                        contains profanity which is not allowed on Sony Entertainment Network (PSN).
                                    </center>
                                </div>
                                <% } %>
                            </center>
                        </div>
                        <div class="input-group">
                            <input type="text" style="text-align: center; " placeholder="Check PSN Username" name="psn"
                                class="form-control input-lg" autofocus="" required="">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-lg btn-info">Check</button>
                            </span>
                        </div><br>
                        <div class="captcha-group">
                            <center>
                                <script src="https://www.google.com/recaptcha/api.js"></script>
                                <div class="g-recaptcha" data-sitekey="6Lf6hucUAAAAALlc6v7Zs9mV2aLhjZ6x0jJevlBu"></div>
                            </center>
                        </div>
                </div>
                </form>
                <p>

            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <!-- <iframe hidden="" width="0" height="0" src="https://www.youtube.com/embed/nxYmId9XoFc?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe> -->

   
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-186NBCG3T6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-186NBCG3T6');
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
        const button = new Crate({ server: '696390013428170803', channel: '696401123631824987', shard: 'https://disweb.dashflo.net', location: ['bottom', 'right'], glyph: ['https://media.giphy.com/media/TdA0Dbmqb3HVYwVIBZ/giphy.gif', '100%'], defer: true })
        button.notify('We Are Always Here If You Need A Hand!\n\nPlease Use An Appropriate Username\n\nWhen Talking To Our Staff and/or Users')
    </script>
    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <font color="white">
                <a href="https://www.dmca.com/Protection/Status.aspx?id=96666bfd-ef13-4d47-bd70-fed34363b265"
                    title="DMCA.com Protection Status" class="dmca-badge"> <img
                        src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-04.png?ID=96666bfd-ef13-4d47-bd70-fed34363b265"
                        alt="DMCA.com Protection Status"></a>
                <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script><br>
                <small>©&nbsp;2020 PSNChecker.com, All Rights Reserved.</small>
            </font>
        </div>
    </div>
    </div>
    </div>
</body>

</html>
<!--
    This Source Is COMPLETELY Custom Made From Scratch
    Changelog:
    Day #1: This source was running a simple HTML Page (Maintenance Page).
    Day #2: Started Development of the CSS, Elements and fixing the vulnerablitities in the server-sided scripts.
    Day #3: Building Bootstrap, matching all the elements to the correct CSS along side everything else building the server-sided javascript.
    Day #4: Added Statistics, and advertisements.
    Day #5: Suffered DDoS Attack and now moved hosting.

    © 2020 Mr Cerberus (@APIDepartment on Twitter), All Rights Reserved.

    If anyone say's this is a rip or copy and pasted site source of PSNResolver, then you are wrong, we do however have similar style except
    We spent time to make our site easier on the eyes.
    
-->